.photo{
    width:50px;
}
.photo img{
    width:100%;
}
.container{
    display:flex;
    margin:20px;
    border:1px solid cadetblue;
    border-radius: 5px;
    padding:10px;
}
.data{
    display: flex;
    width:100%;
    margin-left:100px;
    align-items: center;
    justify-content: space-between;
}
.info span{
    color:cadetblue;
}
.getUsers{
    margin-left:20px;
}
.pages{
    color:cadetblue;
    margin-left: 20px;
}
.pageNumb{
    margin-right: 10px;
}
.pageNumb:hover{
    cursor: pointer;
}
.nowActive{
    font-weight: bold;

}
.container a{
    display:block;
    text-decoration: none;
}