.photo{
    width:50px;
}
.photo img{
    width:100%;
}
.container{
    display:flex;
    margin:20px;
    border:1px solid cadetblue;
    border-radius: 5px;
    padding:10px;
}
.data{
    display: flex;
    width:100%;
    margin-left:100px;
    align-items: center;
    justify-content: space-between;
}
.info span{
    color:cadetblue;
}