.header {
    grid-area: h;
    background-color: cadetblue;
    display:flex;
    justify-content: space-between;
}
  .header img {
    margin-top: 5px;
    width: 50px;
    margin-left: 10px;
    background-color: gold;
    border:1px solid gold;
    border-radius: 4px;
}
.name{
  font-size: 20px;
  color: gold;
  font-weight: bold;
  text-shadow: 1px 1px 1px white;
}
.loginBlock{
  margin-top: 20px;
  margin-right:10px;
}
.loginBlock a{
  height:100%;
  display: block;
  color:white;
  text-decoration: none;
  font-size: 20px;
  margin-left:20px;
  justify-content: center;
  align-items: center;
}
.loginPara{
  margin-top: 0px;
  margin-right:10px;
  color:white;
  font-size: 20px;
  font-weight: bolder;
  margin-left:20px;
  justify-content: center;
  align-items: center;
}