.profile {
    grid-area: c;
}
.profile_img {
    max-width: 100%;
    height: 200px;
    overflow: hidden;
}
.profile_img img {
    width: 100%;
    height:100%;
    object-fit: cover;
    object-position: center;
}
.posts {
    background-color: bisque;
}
.post {
    color: brown;
    margin-left: 10px;
}