.nav {
    grid-area: n;
    background-color: cadetblue;
    height:100vh;
}
.navitem {
    color: aliceblue;
    margin: 10px;
}
.navitem a {
    color:aliceblue;
    text-decoration: none;
}
.navitem a.active {
    color: gold;
}
