.nav {
    grid-area: n;
    background-color: cadetblue;
}
.navitem {
    color: aliceblue;
    margin: 10px;
}
.navitem.active {
    color: gold;
}
.navRef {
    color:aliceblue;
    grid-area: a;
    margin-bottom: 20px;
    text-decoration: none;
}